@import '../../node_modules/vuetify/src/stylus/settings/_colors'

$theme := {
  primary: $blue.base
  accent: $purple.darken-3
  secondary: $brown.lighten-1
  info: $yellow.lighten-1
  warning: $brown.darken-2
  error: $red.accent-4
  success: $green.lighten-2
}

@import '../../node_modules/vuetify/src/stylus/main'
